* {
    box-sizing: border-box;
}
#logo {
    float: left;
}
div.navigation {
    padding: 0;
    float: right;
    overflow: hidden;
    margin: 0;
    display: block;
    background-color: rgb(226, 218, 218);    
    margin-bottom: 7px;
}
.navigation ul a:hover {
    background-color: lightblue;
    color: rgb(231, 224, 224);
}
.active {
    background-color: rgb(86, 107, 226);
    color: rgb(243, 234, 234);
}
div .navigation ul {
    border-right: 1px;
}
.navigation a {
    text-decoration: none;
    font-style: italic;
    color: rgb(63, 59, 59);
    text-align: center;
    padding: 56px;
}
.flight {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 2px;
    text-shadow: 3px 2px rgb(102, 102, 185);
}
.attendant {
    display: block;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0;
}