* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background: rgb(141, 164, 235);
    height: 120px;
    width: 100%;
    box-shadow: 2px 3px rgb(202, 202, 202);
}
.photo {
    width: 60px;
    height: 45px;
}
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-right: 1px solid white;

}
a.active {
    background-color: rgb(100, 100, 143);
    transition: .8s;
}
nav ul li a:hover {
    background-color: rgb(110, 100, 148);
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check {
    display: none;
}


.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn { 
    border: none;
    outline: none;
    color: white;
    background-color: rgb(141, 164, 235);
    font-style: italic;
    padding-left: 3px;
    margin: 0;
}
.dropdown .dropbtn:hover {
    color: white;
    background-color: rgb(57, 50, 102); 
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px) {
   .checkbtn {
    display: block;
   }
   ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(128, 135, 202);
    top: 80px;
    left: -100%;
    text-align: center;
   }
   nav ul li {
    display: block;    
   }
   nav ul li a {
    font-size: 20px;
   }
   a:hover,a.active {
    background: none;
    color: rgb(51, 51, 73);
   }
   #check:checked ~ ul {
    left: 0;
   }
}
section {
    background: url(image.png) no-repeat;
    background-size: 80vw;
    opacity: 0.7;
    overflow: hidden;
    height: calc(100vh - 4px);
}
.separate {
    letter-spacing: 4%;
    word-spacing: 6%;
    color: white;
    display: grid;
    margin: 0;
    padding: 0;
    color: rgb(45, 52, 71);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(105deg);
    box-shadow: inset 2px 2px 3px rgb(77, 70, 70),
                inset -2px -2px 3px rgb(69, 99, 199);
}
.picture {
    float: right;
    width: 190px;
    height: 70px;
    
}
.detail {
    margin-left: 60px;
    margin-top: 80px;
    padding: 0;
    color: rgb(45, 52, 71);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(105deg);
    box-shadow: inset 2px 2px 3px rgb(77, 70, 70),
                inset -2px -2px 3px rgb(69, 99, 199);
}
footer {
    background: rgb(63, 63, 63);
    color: white;
    font-size: larger;
    text-align: center;
    line-height: 23vh;
    border-radius: 19px;
    background: linear-gradient(105deg);
    box-shadow: inset 2px 2px 3px rgb(77, 70, 70),
                inset -2px -2px 3px rgb(69, 99, 199);
}
ul.navigation-lists {
    background-color: rgb(105, 130, 207);
    height: 20px;
}
.navigation ul {
    padding: 0;
    margin: 10px;
}
.navigation-lists {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
}
ul.navigation-lists li {
    float: left;
    margin: 7px;
}
.navigation-items {
    text-decoration: none;
    margin: 0 10px;
}
.navigation-items a {
    text-decoration: none;
    font-style: italic;
    color: white;
    text-align: center;
    border-left: 1px thin white;
}
div.animation {
    width: 30px;
    height: 30px;
    background-color: rgb(126, 124, 226);
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
  }
  
  @keyframes myfirst {
    0%   {background-color:rgb(126, 124, 226); left:0px; top:0px;}
    25%  {background-color:yellow; left:700px; top:0px;}
    50%  {background-color:blue; left:700px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:rgb(126, 124, 226); left:0px; top:0px;}
  }